<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria Imagens</title>
</head>

<body>
    <!-- Page Header -->
    <header>
        <h1>Galeria de Imagens</h1>
        <!-- NavBar -->
        <nav>
            <a href="index.html">Inicio</a>
            <a href="index.html">Sobre</a>
            <a href="index.html">Contato</a>
        </nav>
    </header>
    <!-- Main body -->
    <main>
        <!-- Gallery Introduction -->
        <section style="width: 60%;">
            <h3>Galeria de Imagens Aleatória</h3>
            <p>Bem-vindo à nossa galeria de imagens, onde cada clique revela uma nova surpresa visual! Aqui, reunimos
                uma coleção diversificada de fotos, desde paisagens deslumbrantes e arquitetura moderna até cenas do dia
                a dia e capturas artísticas. Navegue por momentos inesperados, detalhes surpreendentes e inspirações
                visuais de todos os tipos. Cada imagem conta uma história única, esperando para ser descoberta por você.
                Aproveite esta experiência visual e deixe-se levar pela criatividade e beleza dos momentos capturados.
            </p>
        </section>
        <!-- Image Gallery -->
        <table>
            <tr>
                <td><a href="image_1.html"><img src="/Static/Images/darkened_mountains.jpg" alt="darkened_mountains"
                            style="width: 300px;height: 200px;"></a></td>
                <td><a href="image_2.html"><img src="/Static/Images/lonely_tree.jpg" alt="lonely_tree"
                            style="width: 300px;height: 200px;"></a>
                </td>
                <td><a href="image_3.html"><img src="/Static/Images/pink_sphere_forest.jpg" alt="pink_sphere_forest"
                            style="width: 300px;height: 200px;"></a></td>
            </tr>
            <tr>
                <td><a href="image_4.html"><img src="/Static/Images/tree_sunset_clouds.jpg" alt="tree_sunset_clouds"
                            style="width: 300px;height: 200px;"></a></td>
                <td><a href="image_5.html"><img src="/Static/Images/art_supllies.jpg" alt="art_supllies"
                            style="width: 300px;height: 200px;"></a>
                </td>
                <td><a href="image_6.html"><img src="/Static/Images/stary_night.jpg" alt="stary_night"
                            style="width: 300px;height: 200px;"></a>
                </td>
            </tr>
            <tr>
                <td><a href="image_7.html"><img src="/Static/Images/fotographer.jpg" alt="fotographer"
                            style="width: 300px;height: 200px;"></a>
                </td>
                <td><a href="image_8.html"><img src="/Static/Images/eiffel_tower.jpg" alt="eiffel_tower"
                            style="width: 300px;height: 200px;"></a>
                </td>
                <td><a href="image_9.html"><img src="/Static/Images/auttum_leaves.jpg" alt="auttum_leaves"
                            style="width: 300px;height: 200px;"></a>
                </td>
            </tr>
        </table>
    </main>
    <!-- Page Footer -->
    <footer>
        <h5>© 2024 Galeria de Imagens. Todos os direitos reservados.</h5>
        <ul>
            <li><a href="">Politica de Privacidade</a></li>
            <li><a href="">Termos de Uso</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </footer>
</body>

</html>